/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running tests locally with input & output data from & to RPDC QA
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a pipeline test in rdpc qa.

    Use as follows:
        nextflow run main.nf -profile rdpc_qa,test_rdpc_qa,<standard/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile for rdpc mode'
    config_profile_description = 'Test with input to check pipeline function in rdpc mode'

    // Limit resources so that this can run the test on local machine
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '2.h'

    // Input data for rdpc mode
    local_mode  = false
    study_id    = "TEST-QA"
    analysis_ids = "875ef550-e536-4456-9ef5-50e5362456df,9bb63c49-86c8-44e2-b63c-4986c804e274"

}
